<!DOCTYPE html>
<html>
<head>
    <title>CHAT.IK.AM</title>

    <link href="vendor/uikit/dist/css/uikit.gradient.min.css" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/uikit/dist/js/uikit.min.js"></script>
    <!-- Codemirror and marked dependencies -->
    <link href="vendor/uikit/dist/css/addons/uikit.gradient.addons.min.css" rel="stylesheet">
    <link href="vendor/codemirror/lib/codemirror.css" rel="stylesheet">
    <script src="vendor/codemirror/lib/codemirror.js"></script>
    <script src="vendor/codemirror/mode/markdown/markdown.js"></script>
    <script src="vendor/codemirror/addon/mode/overlay.js"></script>
    <script src="vendor/codemirror/mode/xml/xml.js"></script>
    <script src="vendor/codemirror/mode/gfm/gfm.js"></script>
    <script src="vendor/marked/lib/marked.js"></script>
    <!-- HTML editor JavaScript -->
    <script src="vendor/uikit/dist/js/addons/htmleditor.js"></script>
</head>
<body>
<div ng-app="" ng-controller="ChatController"
     class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-match>
        <div class="uk-width-1-1">
            <form class="uk-form">
                <div class="uk-form-controls">
                    <input ng-model="ctrl.nickname" ng-disabled="ctrl.connected"
                           type="text" placeholder="nickname"
                           required=""/>
                    <input ng-model="ctrl.channel" ng-disabled="ctrl.connected"
                           type="text" placeholder="channel"
                           required=""/>
                    <button ng-click="connect()" ng-disabled="ctrl.connected"
                            class="uk-button uk-button-primary">Connect
                    </button>
                    <button ng-disabled="!ctrl.connected" ng-click="disconnect()"
                            class="uk-button uk-button-danger">Disconnect
                    </button>
                    <label><input type="checkbox" ng-model="ctrl.notify"/>Notify</label>
                </div>
            </form>
        </div>
        <div class="uk-width-1-1" style="height: 10px;"></div>
        <div class="uk-width-2-10">
            <h3>Participants</h3>

            <div class="uk-panel uk-panel-box" style="height: 300px; overflow-y: scroll;">
                <ul class="uk-list uk-list-line">
                    <li ng-repeat="(nickname, v) in nicknames">{{nickname}}</li>
                </ul>
            </div>
        </div>
        <div id="conversation" class="uk-width-8-10" style="height: 400px; overflow-y: scroll;">
            <h3>Conversation</h3>

            <div class="uk-panel uk-panel-box" ng-repeat="message in messages" style="margin-top: 5px;">
                <h3 class="uk-panel-title"><i class="uk-icon-user"></i> {{message.nickname.value}}</h3>

                <p ng-switch="message.type">
                    <span ng-switch-when="TXT">{{message.message}}</span>
                    <span ng-switch-when="MD" ng-bind-html="message.message"></span>
                </p>
                <br>
                <small>{{message.date}}</small>
            </div>
        </div>
        <div class="uk-width-1-1" style="height: 10px;"></div>
        <div class="uk-width-1-1">
            <form class="uk-form">
                <textarea ng-model="text" ng-disabled="!ctrl.connected"
                          data-uk-htmleditor="{mode:'tab', markdown:true, height:100}"></textarea>
                <button ng-click="sendMessage()" ng-disabled="!ctrl.connected"
                        class="uk-button uk-button-large">Send
                </button>
            </form>
        </div>
    </div>
</div>


<script src="vendor/angular/angular.min.js"></script>

<script src="vendor/sockjs/sockjs.js"></script>
<script src="vendor/stomp-websocket/lib/stomp.js"></script>
<script type="text/javascript">
    var Notification = window.Notification || window.mozNotification || window.webkitNotification;
    if (Notification) {
        Notification.requestPermission(function (permission) {
        });
    }
    marked.setOptions({
        sanitize: true
    });
    function ChatController($scope, $sce) {
        $scope.ctrl = {
            connected: false,
            nickname: '',
            channel: '',
            notify: false
        };
        $scope.nicknames = {};
        $scope.messages = [];
        $scope.text = '';
        $scope.stompClient = null;
        $scope.connect = function () {
            var nickname = $scope.ctrl.nickname;
            var channel = $scope.ctrl.channel;

            if (!(nickname && channel)) {
                alert('enter nickname and channel!');
                return;
            }

            var socket = new SockJS('/chat');
            $scope.stompClient = Stomp.over(socket);
            $scope.stompClient.connect({}, function (frame) {
                $scope.ctrl.connected = true;
                $scope.stompClient.subscribe('/topic/message/' + encodeURIComponent(channel),
                        function (res) {
                            var message = JSON.parse(res.body);
                            if (message.type === 'MD') {
                                message.message = $sce.trustAsHtml(marked(message.message));
                                message.trust = true;
                            } else {
                                message.message = message.message;
                                message.trust = false;
                            }
                            message.date = new Date(message.timestamp).toString();
                            $scope.messages.push(message);
                            if ($scope.ctrl.notify && Notification) {
                                var from = message.nickname.value;
                                if (from != nickname) {
                                    var title = from + ' @ ' + message.channelName.value;
                                    new Notification(title, {body: message.message});
                                }
                            }
                            $("#conversation").animate({ scrollTop: $(document).height() * $scope.messages.length }, 100);
                            $scope.$apply();
                        });
                $scope.stompClient.subscribe('/app/join/' + encodeURIComponent(channel) + '/' + encodeURIComponent(nickname),
                        function (participants) {
                            JSON.parse(participants.body).forEach(function (partiticant) {
                                $scope.nicknames[partiticant.value] = true;
                            });
                            $scope.$apply();
                        });
                $scope.stompClient.subscribe('/topic/join/' + encodeURIComponent(channel), function (nickname) {
                    $scope.nicknames[JSON.parse(nickname.body).value] = true;
                    $scope.$apply();
                });
                $scope.stompClient.subscribe('/topic/leave/' + encodeURIComponent(channel), function (nickname) {
                    delete $scope.nicknames[JSON.parse(nickname.body).value];
                    $scope.$apply();
                });
                $scope.$apply();
            });
        };

        $scope.disconnect = function () {
            $scope.stompClient.disconnect();
            $scope.ctrl.connected = false;
            $scope.messages = [];
            $scope.nicknames = {};
            $scope.stompClient = null;
        };

        $scope.sendMessage = function () {
            if (!$scope.codemirror) {
                $scope.codemirror = $('.CodeMirror')[0].CodeMirror;
            }
            var message = $scope.codemirror.getValue();
            var channel = $scope.ctrl.channel;
            $scope.stompClient.send("/app/message/" + encodeURIComponent(channel), {},
                    JSON.stringify({
                        'message': encodeURIComponent(message),
                        'type': 'MD'
                    }));
            $scope.codemirror.setValue('');
        }

        $scope.debug = function () {
            console.log($scope);
        }
    }
</script>
</body>
</html>